<style type="text/css">
.panel-title{
	font-weight: 600;
}
</style>

<div class="page-inner col-sm-12" id="admin-content">
       
      <div class = "page-title">
	<h3>Pages for Your Store
		<a class="btn btn-primary pull-right" update="admin-content" id="new_page" href="#"onclick="javascript:ap('c=admin&a=new_page','main-panel',true)">
	  		<span class="glyphicon glyphicon-plus"></span> Add New Page
</a>	</h3>
</div>
<div id="main-wrapper">
	<div class="col-lg-12 col-md-12">
	
	<div class="col-lg-12 col-md-12">
		<div class="panel panel-white">
  	<div class="panel-heading">
        <h4 class="panel-title">Custom Pages</h4>
    </div>
    <div class="panel-body">
    	
			<div class = "table-responsive">
				<table class = "table table-condensed table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th class = "col-md-1">Remove</th>
						<tr>
					</thead>
					<tbody>
						<tr>
							<td class = ""><a href="/admin/pages/225-About-Us/edit">About Us</a>
							</td>
							<td class = "col-md-1 text-center">
								<a class="text-danger" data-confirm="Are you sure you want to delete &#39;About Us&#39;?" data-remote="true" rel="nofollow" data-method="delete" href="/admin/pages/225-About-Us">
									<i class = "fa fa-times"></i>
</a>							</td>
						<tr>
						<tr>
							<td class = ""><a href="/admin/pages/226-Terms-and-Conditions/edit">Terms and Conditions</a>
							</td>
							<td class = "col-md-1 text-center">
								<a class="text-danger" data-confirm="Are you sure you want to delete &#39;Terms and Conditions&#39;?" data-remote="true" rel="nofollow" data-method="delete" href="/admin/pages/226-Terms-and-Conditions">
									<i class = "fa fa-times"></i>
</a>							</td>
						<tr>
					</tbody>
				</table>
			</div>

    </div>
</div>	<div>

	</div>
</div>
    </div>  