     <style type="text/css">
		.panel-title{
		    padding: 20px 0px 0px 5px;
		}
    </style>

    <div class="page-inner col-sm-12" id="admin-content">
       
      
<div class="page-title">
    <h3>Products</h3>
    <a class="btn btn-primary pull-right" href="#" onclick="javascript:ap('c=product&a=product_upload_pre','main-panel',true)">
	  <span class="glyphicon glyphicon-plus"></span> Add New Product
</a>    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/admin/index?days=0">Home</a></li>
            <li class="active">Products</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
	<div class="col-lg-12 col-md-12">
	
	<div class="col-lg-12 col-md-12">
		<div class="panel panel-white">
		  	<div class="panel-heading">
                <h4 class="panel-title">All Products</h4>
            </div>
            <div class="panel-body">
            	<div class="table-responsive project-stats"> 
				  <table class = "table table-condensed table-hover">
				    <thead>
		    			<tr>
		    				<th class = "col-md-1">Icon</th>
		    				<th>Name</th>
		    				<th class = "col-md-2 text-center">Inventory</th>
		    				<th class = "col-md-1 text-center">Edit</th>
		    				<th class = "col-md-1 text-center">Remove</th>
		    			<tr>
				    </thead>
			    		<tbody>
		    					<tr>
		    					{loop="all_product_list"}
		    						<td class = "col-md-1"><img src=http://s3.amazonaws.com/ep-files/assets/images/000/001/978/icon/1.jpg?1439878042 ></td>
		    						<td>{$value.title}</td>
		    						<td class = "col-md-2 text-center">0</td>
		    						
		    						<td class = "col-md-1 text-center">
		    							<a href="/admin/products/757-Awesome-Punjabi/edit"><span class="glyphicon glyphicon-pencil"></span></a>
		    						</td>
		    						<td class = "col-md-1 text-center">
		    							<a class="text-danger" data-confirm="Are you sure you want to delete &#39;Awesome Punjabi&#39;?" data-remote="true" rel="nofollow" data-method="delete" href="/admin/products/757-Awesome-Punjabi">
		    								<i class ="fa fa-times"></i>
</a>		    						</td>
		    					</tr>
		    					{/loop}
			    		</tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>

	</div>
</div>
    </div>  
