
    

     <div class="page-inner col-sm-12" id="admin-content">
       
      <div class = "page-title">
	<h3>Slider for Your Store
	</h3>
</div>
<div id="main-wrapper">
	<div class="col-lg-12 col-md-12">
	
	<div class="col-lg-12 col-md-12">
		<div class="panel panel-white">
  	<div class="panel-heading">
        <h4 class="panel-title">Slider Image</h4>
    </div>
    <div class="panel-body">
    	
			<form role="form" class="edit_store" id="edit_store_97" enctype="multipart/form-data" action="/update_images/97" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" />
				<br>
				<div class="alert alert-info pull-left" role="alert">
					<strong>Choose your slider image files and write Heading and Description then click the "Submit" button to setup slider.</strong>
				</div>
				<input type="submit" name="commit" value="Submit" class="btn btn-primary pull-right " id="top-button" />
				<hr>
				<div id = "banner_fieldss">
					
						<div class = "panel panel-default nested-fields">
	<div class = "panel-body">
		<div class = row>
			<div class = "col-md-6 field">
				<div class="form-group"><label class="control-label" for="store_banners_attributes_0_image">Upload a banner</label><input class="form-control" label="Upload a banner" type="file" accept="image/png,image/gif,image/jpeg" name="store[banners_attributes][0][image]" id="store_banners_attributes_0_image" /></div>
			</div>
			<div class = "col-md-5">
					<img src=http://s3.amazonaws.com/ep-files/banners/images/000/000/230/small/1.jpg?1439792175 class="img-thumbnail">
					<br>
			</div>
			<div class = "col-md-1">
				<input type="hidden" name="store[banners_attributes][0][_destroy]" id="store_banners_attributes_0__destroy" value="false" /><a class="fa fa-times text-danger remove_fields existing" href="#"></a>
			</div>
		</div>
	</div>
</div>
<input type="hidden" value="230" name="store[banners_attributes][0][id]" id="store_banners_attributes_0_id" />				</div>
				

							<input value="97" type="hidden" name="page[store_id]" id="page_store_id" />
<div class="form-group"><label class="control-label required" for="page_title">Slider Heading</label><input class="form-control" type="text" name="page[title]" id="page_title" /></div>
<label>Slider Description</label>
<textarea rows="25" name="page[content]" id="page_content">
</textarea><script>
//<![CDATA[
(function() { if (typeof CKEDITOR != 'undefined') { if (CKEDITOR.instances['page_content'] == undefined) { CKEDITOR.replace('page_content', {"toolbar":"mini"}); } } else { setTimeout(arguments.callee, 50); } })();
//]]>
</script>
<br>

				<hr>

				<div class = ".links">
					<a data-association-insertion-node="#banner_fieldss" data-association-insertion-method="append" class="btn btn-link add_fields" data-association="banner" data-associations="banners" data-association-insertion-template="&lt;div class = &quot;panel panel-default nested-fields&quot;&gt;
	&lt;div class = &quot;panel-body&quot;&gt;
		&lt;div class = row&gt;
			&lt;div class = &quot;col-md-6 field&quot;&gt;
				&lt;div class=&quot;form-group&quot;&gt;&lt;label class=&quot;control-label&quot; for=&quot;store_banners_attributes_new_banners_image&quot;&gt;Upload a banner&lt;/label&gt;&lt;input class=&quot;form-control&quot; label=&quot;Upload a banner&quot; type=&quot;file&quot; accept=&quot;image/png,image/gif,image/jpeg&quot; name=&quot;store[banners_attributes][new_banners][image]&quot; id=&quot;store_banners_attributes_new_banners_image&quot; /&gt;&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class = &quot;col-md-5&quot;&gt;
			&lt;/div&gt;
			&lt;div class = &quot;col-md-1&quot;&gt;
				&lt;input type=&quot;hidden&quot; name=&quot;store[banners_attributes][new_banners][_destroy]&quot; id=&quot;store_banners_attributes_new_banners__destroy&quot; value=&quot;false&quot; /&gt;&lt;a class=&quot;fa fa-times text-danger remove_fields dynamic&quot; href=&quot;#&quot;&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;" href="#">Add New Slider Field</a>
				</div>
				<input type="submit" name="commit" value="Submit" class="btn btn-primary pull-right" />
				<br>
</form>
    </div>
</div>
		<div class="alert alert-info pull-left" role="alert">
		Give the perfect first impression of your website by uploading Slider introducing your latest offers & new arrivals. If you are not satisfied with your store banners, iSolution can help you to design beautiful banners and logos with economic packages. Call us now to order your custom banners and logo package: 
		<h5 class = "text-center">01717-450375, 01710-928707</h5>
		<h5 class = "text-center">Or live chat from our Facebook page: <a href="https://www.facebook.com/isitbd" target="_blank">https://www.facebook.com/isitbd</a></h5>
		</div>
	</div>

	</div>
</div>
    </div>  